.review {
  width: 325px;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;

  .image {
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 55px;
    height: 55px;
    display: inline-block;
    border: gray 1px solid;
    

    .image-content {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  .content {
    text-align: center;
    color: ivory;
    
    .title {
      display: inline-block;
      font-size: 1.1em;
      margin: 15px 0;
    }

    .date {
      font-style: italic;
      font-size: .8em;
    }

    .name {
      text-transform: uppercase;
      margin: 15px 0;
      font-size: 1.7em;
      font-weight: 700;
    }

    .venue {
      display: inline-block;
      margin-bottom: 15px;
    }
  }
}


