.modifyProfile {
  width: 65%;
  height: 80%;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
}
