@use 'src/styles/vars';

.button {
  background-color: vars.$lightSecondaryColor;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  color: vars.$primaryColor;
  font-weight: 700;

  &:hover {
    background-color: vars.$secondaryColor;
  }
}
