@use 'src/styles/vars';

.button {
  background-color: vars.$primaryColor;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  color: vars.$lightSecondaryColor;
  font-weight: 700;
  border: 1px solid vars.$lightSecondaryColor;
  transition: background-color .5s, color .5s, border .5s;

  &:hover {
    background-color: vars.$lightSecondaryColor;
    color: vars.$primaryColor;
    border: 1px solid vars.$lightSecondaryColor;
  }
}
