.inputField {
  display: flex;
  flex-direction: column;
  width: 100%;

  .inputField-label {
    margin-bottom: 0.5em;
  }

  .inputField-input {
    height: 2rem;
    padding: 0.25em;
    border: none;
    border-radius: 0.25rem;
  }
}
