@use 'src/styles/vars';

.inputField {
  display: flex;
  flex-direction: column;
  width: 100%;

  .inputField-label {
    margin-bottom: 0.5em;
    color: vars.$lightSecondaryColor;
  }

  .inputField-input {
    height: 2rem;
    padding: 0.5em;
    border-radius: 0.25rem;
    color: vars.$lightSecondaryColor;
    background-color: vars.$primaryColor;
    border: 1px solid vars.$lightSecondaryColor;

    &::placeholder { 
      color: vars.$lightSecondaryColor;
    }

    &:focus {
      border: 1px solid vars.$secondaryColor;
    }
  }
}
