@use 'src/styles/vars';
@import "src/styles/media";

.profile {
  min-height: 100vh;
  color: vars.$secondaryColor;

  .loader {
    display: flex;
    justify-content: center;
  }

  .back-to{
    margin-left: 1.5*vars.$gutter;
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include md {
      display: flex;
      flex-direction: row;
    }

    .user-identity {
    display: flex;
    align-items: center;
    margin: 30px 0;

    .avatar {
      display: flex;
      flex-direction: column;
      text-align: center;

      .user-picture{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: inline-block;
        border: gray 1px solid;
        margin: 0 20px 0 20px;
      
        .picture-content {
          width: 100%;
          height: 100%;
          border-radius: inherit;
        }
      }
    }
  }
  .user-description {
    @include sm {
      width: 60%;
    }
    background-color: vars.$lightPrimaryColor;
    color: vars.$secondaryColor;
    border: 1px solid black;
    width: 280px;
    margin: auto;
    padding: 10px;
  }
}

  .user-main-content {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      margin-bottom: 1em;

    .label-events {
      cursor: pointer;
      font-size: 1.7em;
      font-weight: 700;
      background-color: vars.$secondaryColor;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: vars.$lightPrimaryColor;
      margin-bottom: 2.5*vars.$gutter;
      font-family: vars.$titleFont;

      @include md {
        width: 59%;
        margin-left: 35%;
        padding-right: vars.$gutter;
      }

      @include lg {
        width: 56%;
        margin-left: 38%;
        justify-content: flex-end;
      }
    }

    .label-reviews {
      cursor: pointer;
      font-size: 1.7em;
      font-weight: 700;
      background-color: vars.$secondaryColor;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: vars.$lightPrimaryColor;
      margin-bottom: 2.5*vars.$gutter;
      font-family: vars.$titleFont;


      @include md {
        width: 59%;
        margin-left: 7%;
        padding-left: vars.$gutter;
      }

      @include lg {
        width: 56%;
        margin-left: 6%;
        justify-content: flex-start;
      }
    }

    .label-pictures {
      cursor: pointer;
      font-size: 1.7em;
      font-weight: 700;
      background-color: vars.$secondaryColor;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: vars.$lightPrimaryColor;
      margin-bottom: 2.5*vars.$gutter;
      font-family: vars.$titleFont;

      @include md {
        width: 59%;
        margin-left: 35%;
        padding-right: vars.$gutter;
      }

      @include lg {
        width: 56%;
        margin-left: 38%;
        justify-content: flex-end;
      }
    }

    .eventsNoShow {
      display: none;
    }
  
    .eventsShow {
      display: block;
      margin-bottom: 4*vars.$gutter;
    }
  
    .reviewsNoShow {
      display: none;
    }
  
    .reviewsShow {
      display: block;
      margin-bottom: 4*vars.$gutter;
    }
  
    .picturesNoShow {
      display: none;
    }
  
    .picturesShow {
      display: block;
    }
  }
}
