@use 'src/styles/vars'; 
@import "src/styles/media";

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .events-list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
  
    @include md {
      grid-template-columns: 1fr 1fr;
    }
  
    @include lg {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .events-more-results {
    margin-top: 2 * vars.$gutter;
  }
}


