.reviewManage {
  display: flex;
  flex-direction: column;
  width: 100%;

  .reviewManage-go-back {
    padding: 1em;
    cursor: pointer;

    &:hover {
      color: grey;
    }
  }

  .reviewManage-title {
    margin: 0.5em;
  }

  .reviewManage-content {
    margin: 0.5em;
  }

  .reviewManage-button {
    margin: 1em 0 2em;
    text-align: center;
  }
}
