@use 'src/styles/vars'; 

.eventsResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .eventsResults-nb-events-found {
    margin-top: 2 * vars.$gutter;
    text-align: center;
  }

  .eventsResults-events {
    margin-top: vars.$gutter;
  }
}
