@use 'src/styles/vars';

.draftEditor {

  .draftEditor-wrapper {
    padding: 0.5rem;
    border: 1px solid vars.$lightSecondaryColor;
  }
  
  .draftEditor-editor {
    background-color: vars.$primaryColor;
    padding: 0.5rem;
    border: 1px solid vars.$lightSecondaryColor;
    min-height: 100vh;
    color: vars.$lightSecondaryColor;
  }
  .draftEditor-toolbar {
    border: 1px solid vars.$lightSecondaryColor;
    background-color: vars.$primaryColor;
    
    .rdw-option-wrapper {
      background-color: vars.$primaryColor;
      border-color: vars.$lightSecondaryColor;
      
      &:hover {
        background-color: vars.$lightPrimaryColor;
      }
    }
  }
}
