.draftEditor {

  .draftEditor-wrapper {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .draftEditor-editor {
    background-color: #fafafb;
    padding: 0.5rem;
    border: 1px solid #ccc;
    min-height: 500px;
  }
  .draftEditor-toolbar {
    border: 1px solid #ccc;
  }
}
