@use 'src/styles/vars'; 
@import "src/styles/media";

.reviews {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1em;

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .smallReview {
    width: 310px;
    height: 100px;
    margin: 1rem auto;
    background-color: vars.$lightPrimaryColor;
    position: relative;

    .data {
      position: absolute;
      left: 0px;
      top: -10px;
      font-size: 0.7rem;
    }
  
    .avatar {
      border-radius: 50%;
      position: absolute;
      top: 15px;
      left: 10px;
      width: 70px;
      height: 70px;
      display: inline-block;
      // border: gray 1px solid;
      
  
      .avatar-image {
        width: inherit;
        height: inherit;
        border-radius: inherit;
      }
    }
  
    .content {
      width: 80%;
      text-align: right;
      margin-left: 65px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;
      color: vars.$lightSecondaryColor;
      
      .title {
        display: inline-block;
        margin-top: 0.25rem;
        font-weight: 700;
      }
  
      .smallContent {

        .user {
          font-size: 0.7rem;
        }

        .date {
          margin-top: 0.2rem;
          font-size: 0.7rem;
        }
      }
      
  
      /*
      .name {
        text-transform: uppercase;
        margin: 15px 0;
        font-size: 1.7em;
        font-weight: 700;
      }
  
      .venue {
        display: inline-block;
        margin-bottom: 15px;
      }
      */
    }
  }
}
