$gutter: 1em;

$primaryColor: #080707;
$lightPrimaryColor: #1A1717;
$secondaryColor: #FFDB15; 
$lightSecondaryColor: #FFE02E;
$gradient: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,235,113,1) 0%, rgba(248,216,0,1) 90% );

$errorColor: red;

$titleFont: 'macabre';


