$gutter: 1em;

$primaryColor: #080707;
$lightPrimaryColor: #171515;
$secondaryColor: #FFDB15; 
$lightSecondaryColor: rgb(209, 209, 140);
$errorColor: red;

$headerFont: 'macabre';
$titleFont: 'act_of_rejectionregular';

