@use 'src/styles/vars';
@import "src/styles/media";

.app {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  
  .app-container {
    min-height: 100vh;
    background-color: vars.$primaryColor;
    margin: 0 auto;

    @include lg {
      max-width: 1150px;
    }
  }
}

