@use 'src/styles/vars'; 
@import "src/styles/media";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .news {
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    background-color: vars.$secondaryColor;
    padding: 0 60px;

    .news-content {
      font-size: 1.6em;
    }
  }

  .firstBlock {
    width: 100%;

    @include md {
      position: relative;
    }

    .introduction {
      width: 100%;
      height: 80px;
      background-color: vars.$secondaryColor;
      margin-top: 35px;
      font-size: 1.2em;

      @include md {
        width: 63%;
        height: 300px;
        margin-top: 150px;
        padding-right: 130px;
      }
    }
  
    .firstImage {
      width: 100%;
      margin-top: 35px;

      .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include md {
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  

  .description {
    width: 100%;
    height: 300px;
    margin-top: 35px;
    background-color: vars.$secondaryColor;
    font-size: 1.5em;
  }

  .lastReviews {
    text-align: center;
    margin-top: 35px;
    color: vars.$secondaryColor;
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .secondBlock {
    width: 100%;
    margin-top: 35px;

    @include md {
      position: relative;
    }

    .secondImage {
      width: 100%;
      margin-top: 35px;
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  
      .image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include md {
        width: 50%;
      }
  }
    .about {
      color: vars.$primaryColor;
      width: 100%;
      height: 185px;
      background-color: vars.$secondaryColor;
      text-align: center;
      font-size: 1.6em;

      @include md {
        width: 50%;
        position: absolute;
        right: 0;
        top: 35%;
        transform:translate(0, -40%);
      }
  }
  }
}
