@use 'src/styles/vars'; 
@import "src/styles/media";

.header {
  width: 100%;
  background-color: gray;
  color: vars.$secondaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 170px;
  position: relative;

  @include md {
    background-color: vars.$primaryColor;
    height: 200px;
  }
  
  .sigle {
    max-height: 100%;
    width: 75px;

    @include md {
      width: 110px;
    }

    @include lg {
      width: 130px;
      margin-left: 2em;
    }
  }

  .title {
    cursor: pointer;

    .main-title {
      font-weight: 700;
      font-size: 2.7em;
      margin-bottom: 15px;
      text-align: center;
      font-family: vars.$titleFont;

      @include md {
        font-size: 5em;
      }
    }

    .sub-title {
      font-size: .8em;
      font-style: italic;

      @include md {
        font-size: 1.2em;
      }
    }
  }

  .image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-block;

    .image-content {
      width: inherit;
      height: inherit;
      border-radius: inherit;
      border: gray 1px solid;
    }

    @include md {
      width: 130px;
      height: 130px;
    }

    @include lg {
      width: 150px;
      height: 150px;
      margin-right: 2em;
    }
  }

  .welcome {
    position: absolute;
    bottom: 6px;
    right: 15px;
  }
}

