.register {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
    .email {

    }
  
    .password {
      margin: 30px;
    }

    .nickname {
      margin-bottom: 30px;
    }
}
