.register {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
    .register-email {

    }
  
    .register-password {
      margin: 30px;
    }

    .register-nickname {
      margin-bottom: 30px;
    }
}
