@use 'src/styles/vars';
@import "src/styles/media";

.login {
  padding: 0.5rem;

  @include md {
    padding: 1rem;
  }

  .login-sigle-link {
    cursor: pointer;
    text-align: center;
    height: 100px;
    
    @include md {
      height: 170px;
    }

    .login-sigle {
      max-height: 100%;
    }
  }

  .login-title {
    margin: 1em 0 2em;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    color: vars.$secondaryColor;
  }

  .login-container {
    width: 100%;

    @include md {
      width: 60%;
      margin: 0 auto;
    }
  
    @include lg {
      width: 40%;
    }

    .login-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .login-email {
    
      }
    
      .login-password {
        margin: 30px;
      }
    
      .login-error {
        height: 30px;
        padding-top: 0.25em;
        color: vars.$errorColor;
        font-size: 0.8rem;
      }
    
      .login-validate-button {
        margin: 1em 0;
        align-self: center;
      }
    }
  
    .login-create-account {
      border-top: 1px solid vars.$secondaryColor;
      margin-top: 3rem;
      text-align: center;
  
      .login-create-account-text {
        margin-top: 3rem;
        color: vars.$lightSecondaryColor;
      }
  
      .login-create-account-button {
        margin: 1em 0;
        background-color: vars.$lightSecondaryColor;
        color: vars.$primaryColor;
        border: none;
        border-radius: 0.5em;
        padding: 1em;
        color: vars.$primaryColor;
        font-weight: 700;

        &:hover {
          background-color: vars.$secondaryColor;
        }
      }
    }
  }
  
  
}

