.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgrey;

  .smallPicture {
    .picture {
      width: 160px;
      height: 160px;
      margin-bottom: 40px;
      object-fit: cover; // choix à faire entre cover et contain
      border: gray 6px double;
    }
  }
}
